{% set CLUSTER_TYPE = env['project'] + '/' + properties['clusterType'] %}

{% set COLLECTION_PREFIX = '/api/v1/namespaces/{namespace}/' %}
{% set RC_COLLECTION = COLLECTION_PREFIX + 'replicationcontrollers' %}
{% set SERVICE_COLLECTION = COLLECTION_PREFIX + 'services' %}

{% set NAME_PREFIX = env['deployment'] %}
{% set OPSCENTER_NAME = NAME_PREFIX + '-opscenter' %}
{% set NODE_NAME = NAME_PREFIX + '-node' %}
{% set SEED_NAME = NAME_PREFIX + '-seed' %}

{% set PORT = properties['ports']['node'] %}
{% set OPSCENTER_PORT = properties['ports']['opscenter'] %}

resources:
#
# OpsCenter node
#
- name: {{ OPSCENTER_NAME }}
  type: {{ CLUSTER_TYPE }}:{{ SERVICE_COLLECTION }}
  properties:
    apiVersion: v1
    kind: Service
    namespace: default
    metadata:
      name: {{ OPSCENTER_NAME }}
    spec:
      type: LoadBalancer
      ports:
      - port: {{ PORT }}
        targetPort: {{ PORT }}
        protocol: TCP
      selector:
        name: {{ OPSCENTER_NAME }}

- name: {{ OPSCENTER_NAME }}-rc
  type: {{ CLUSTER_TYPE }}:{{ RC_COLLECTION }}
  properties:
    apiVersion: v1
    kind: ReplicationController
    namespace: default
    metadata:
      name: {{ OPSCENTER_NAME }}-rc
    spec:
      template:
        metadata:
          labels:
            name: {{ OPSCENTER_NAME }}
        spec:
          containers:
          - name: opscenter
            image: ubuntu:14.04
            env:
            - name: SEED_NODE_SERVICE
              value: {{ SEED_NAME }}
            ports:
            - containerPort: {{ OPSCENTER_PORT }}
            command:
            - /bin/bash
            - -e
            - -c
            - apt-get update; apt-get -y install wget; wget https://raw.githubusercontent.com/DSPN/google-container-engine-dse/master/scripts/opscenter.sh; chmod +x opscenter.sh; ./opscenter.sh

#
# Seed service
#
- name: {{ SEED_NAME }}
  type: {{ CLUSTER_TYPE }}:{{ SERVICE_COLLECTION }}
  properties:
    apiVersion: v1
    kind: Service
    namespace: default
    metadata:
      name: {{ SEED_NAME }}
    spec:
      # Uncomment this for external IP for testing.
      # type: LoadBalancer
      ports:
      - port: {{ PORT }}
        targetPort: {{ PORT }}
        protocol: TCP
      selector:
        name: {{ NODE_NAME }}-0

#
# DataStax Enterprise nodes
#
{% for i in range(properties['numNodes']) %}
- name: {{ NODE_NAME }}-{{ i }}
  type: {{ CLUSTER_TYPE }}:{{ RC_COLLECTION }}
  properties:
    apiVersion: v1
    kind: ReplicationController
    namespace: default
    metadata:
      name: {{ NODE_NAME }}-{{ i }}
    spec:
      template:
        metadata:
          labels:
            name: {{ NODE_NAME }}-{{ i }}
        spec:
          containers:
          - name: datastax
            image: ubuntu:14.04
            env:
            - name: SEED_NODE_SERVICE
              value: {{ SEED_NAME }}
            ports:
            - containerPort: {{ PORT }}
            command:
            - /bin/bash
            - -e
            - -c
            - apt-get update; apt-get -y install wget; wget https://raw.githubusercontent.com/DSPN/google-container-engine-dse/master/scripts/dse.sh; chmod +x dse.sh; ./dse.sh
{% endfor %}
