resources:
- name: {{ env['name'] }}-type
  type: deploymentmanager.alpha.type
  properties:
    configurableService:
      options:
        validationOptions:
          # Kubernetes API accepts ints, in fields they annotate with string.
          # This validation will show as warning rather than failure for
          # Deployment Manager.
          # https://github.com/kubernetes/kubernetes/issues/2971
          schemaValidation: IGNORE_WITH_WARNINGS
      descriptorUrl: https://{{ properties['ip'] }}/swaggerapi/api/v1
      credential:
        basicAuth:
          user: {{ properties['username'] }}
          password: {{ properties['password'] }}

