{% set CLUSTER_TYPE = env['project'] + '/' + properties['clusterType'] %}

{% set COLLECTION_PREFIX = '/api/v1/namespaces/{namespace}/' %}
{% set RC_COLLECTION = COLLECTION_PREFIX + 'replicationcontrollers' %}
{% set SERVICE_COLLECTION = COLLECTION_PREFIX + 'services' %}

{% set NAME_PREFIX = env['deployment'] %}
{% set OPSCENTER_NAME = NAME_PREFIX + '-opscenter' %}
{% set NODE_NAME = NAME_PREFIX + '-node' %}
{% set SEED_NAME = NAME_PREFIX + '-seed' %}

resources:
#
# OpsCenter node (headless service)
#
- name: {{ OPSCENTER_NAME }}
  type: {{ CLUSTER_TYPE }}:{{ SERVICE_COLLECTION }}
  properties:
    apiVersion: v1
    kind: Service
    namespace: default
    metadata:
      name: {{ OPSCENTER_NAME }}
    spec:
      clusterIP: None
      ports:
      - port: 8888
        targetPort: 8888
        protocol: TCP
        name: port8888
      - port: 61620
        targetPort: 61620
        protocol: TCP
        name: port61620
      selector:
        name: {{ OPSCENTER_NAME }}

#
# OpsCenter node (external lb)
#
- name: {{ OPSCENTER_NAME }}-external-lb
  type: {{ CLUSTER_TYPE }}:{{ SERVICE_COLLECTION }}
  properties:
    apiVersion: v1
    kind: Service
    namespace: default
    metadata:
      name: {{ OPSCENTER_NAME }}-external-lb
    spec:
      type: LoadBalancer
      ports:
      - port: 8888
        targetPort: 8888
        protocol: TCP
        name: port8888
      selector:
        name: {{ OPSCENTER_NAME }}

#
# OpsCenter RC
#
- name: {{ OPSCENTER_NAME }}-rc
  type: {{ CLUSTER_TYPE }}:{{ RC_COLLECTION }}
  properties:
    apiVersion: v1
    kind: ReplicationController
    namespace: default
    metadata:
      name: {{ OPSCENTER_NAME }}-rc
    spec:
      template:
        metadata:
          labels:
            name: {{ OPSCENTER_NAME }}
        spec:
          containers:
          - name: opscenter
            image: ubuntu:14.04
            env:
            - name: SEED_NODE_SERVICE
              value: {{ SEED_NAME }}
            ports:
            - containerPort: 8888
            - containerPort: 61620
            command:
            - /bin/bash
            - -e
            - -c
            - apt-get update; apt-get -y install wget; wget https://raw.githubusercontent.com/DSPN/google-container-engine-dse/master/scripts/opscenter.sh; chmod +x opscenter.sh; ./opscenter.sh

#
# DSE seed node (headless service)
#
- name: {{ SEED_NAME }}
  type: {{ CLUSTER_TYPE }}:{{ SERVICE_COLLECTION }}
  properties:
    apiVersion: v1
    kind: Service
    namespace: default
    metadata:
      name: {{ SEED_NAME }}
    spec:
      clusterIP: None 
      ports:
      - port: 7000
        targetPort: 7000
        protocol: TCP
        name: port7000
      - port: 7001
        targetPort: 7001
        protocol: TCP
        name: port7001
      - port: 7199
        targetPort: 7199
        protocol: TCP
        name: port7199
      - port: 9042
        targetPort: 9042
        protocol: TCP
        name: port9042
      - port: 9160
        targetPort: 9160
        protocol: TCP
        name: port9160
      - port: 61621
        targetPort: 61621
        protocol: TCP
        name: port61621
      selector:
        name: {{ NODE_NAME }}-0

#
# DSE Nodes RC
#
{% for i in range(properties['numNodes']) %}
- name: {{ NODE_NAME }}-{{ i }}
  type: {{ CLUSTER_TYPE }}:{{ RC_COLLECTION }}
  properties:
    apiVersion: v1
    kind: ReplicationController
    namespace: default
    metadata:
      name: {{ NODE_NAME }}-{{ i }}
    spec:
      template:
        metadata:
          labels:
            name: {{ NODE_NAME }}-{{ i }}
        spec:
          containers:
          - name: datastax
            image: ubuntu:14.04
            env:
            - name: SEED_NODE_SERVICE
              value: {{ SEED_NAME }}
            - name: OPSCENTER_NAME
              value: {{ OPSCENTER_NAME }}
            ports:
            - containerPort: 7000
            - containerPort: 7001
            - containerPort: 7199
            - containerPort: 9042
            - containerPort: 9160
            - containerPort: 61621
            volumeMounts:
              - mountPath: /mnt
                name: dse-data
            command:
            - /bin/bash
            - -e
            - -c
            - apt-get update; apt-get -y install wget; wget https://raw.githubusercontent.com/DSPN/google-container-engine-dse/master/scripts/dse.sh; chmod +x dse.sh; ./dse.sh
          volumes:
            - name: dse-data
              emptyDir: {}
{% endfor %}
